---
import "./index.scss";

import Skill from "./Skill.astro";
import { getDataEntryById } from "astro:content";
import type { IconPathKey } from "../IconPaths";

const skills = await getDataEntryById("home", "skills");
---

<section class="box skills">
  {
    skills.data.map((skill) => (
      <Skill
        title={skill.title}
        description={skill.description}
        icon={skill.icon as IconPathKey}
      />
    ))
  }
</section>
